<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<!--mai ek masoom si template hoon harry bhai:-->
<!--{{name}} is from {{place}}-->
<h1>
    Welcome to text analyzer . enter your text below
</h1>
<form action="/analyze" method="get">
    <textarea name="text" style='margin: 0px; width: 1510px; height: 251px;'>
    </textarea>
    <br>
    <input type="checkbox" name="removepunc"> Remove punctuations <br>
    <input type="checkbox" name="fullcaps"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover"> NEW lINE REMOVER <br>
    <button type="submit">
      Analyze text
    </button>

</form>
</body>
</html>